---
layout: default
title: Hi.
tagline: 
---
{% include JB/setup %}
<div class="well">Hi! My name is Brian and I am a web developer working in Nashville. <a href="/about.html">Find out more?</a></div>

{% for page in site.posts %}
<div class="row-fluid post-full">
  <div class="span12">
      <h3> <a href="{{ page.url }}">{{ page.title }}</a> {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h3>
    <div class="date">
      <span>{{ page.date | date_to_long_string }}</span>
    </div>
    <div class="content">
        {{ page.excerpt }}
        <a href="{{ page.url }}">Continue reading...</a>
    </div>
  </div>
</div>
<hr>
{% endfor %}
